* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    display: flex;
    background: rgb(212, 212, 212);
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid rgb(99, 7, 7);
    flex-direction: column;
    margin:0;

}

.figure {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    flex-direction: column;

}
.figure {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.img {
    height: 8rem;
    width: auto;
    overflow: hidden;
    background-color: #FECF2F;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.figcaption {
    font-family: 'Courier New', Courier, monospace;
        background-color: #FECF2F;
        display: flex;
        justify-content: flex-end;
}
    

.section {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    padding: 10px;
}

.price {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}
